.hero {
  height: 100%;
  width: 100%;
  background-color: white;
}

.image-container {
  height: 100vh;
  width: 100%;
  left: 0;
}

.hero-title {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.before-image {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 40px);
  width: 100vw;
  overflow: hidden;
  z-index: 2;
  border-bottom: 2px solid #fff;
}

.after-image {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 40px);
  width: 100vw;
  z-index: 1;
}

.before-image img,
.after-image img {
  width: 100%;
  height: calc(100vh - 40px);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.placeholder {
  height: calc(200vh - 80px);
}

/* @media screen and (max-width: 768px) {
  .hero-title {
    width: 100%;
  }
  .before-image {
    top: 100vh;
    width: 100%;
    left: 0;
  }
  .after-image {
    top: 100vh;
    width: 100%;
    left: 0;
  }
} */
