header {
  position: fixed;
  top: 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  z-index: 4;
  gap: 16px;
}

header .logo {
  font-weight: bold;
  margin-left: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
