body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: #333;
}

.content {
  grid-area: content;
  overflow: auto;
}
